/* CSS Document */
*{
	margin:0;
	padding:0;
	webkit-box-sizing:border-box;/*este es para que lo reconozca el navegador de  INTERNET EXPLORER*/
	-moz-box-sizing:border-box;/* este es para que lo reconozca el navegador de MOZILA*/
	box-sizing:border-box;/*este es para que lo reconozca el navegador de GOOGLE CHROME*/
}

ul, ol
{
	list-style:none; /*con esto se quintan los puntos laterales de cada imagen, al lado izquierdo*/
}

body
{
	font-family:Georgia, "Times New Roman", Times, serif;
	background:#E8E8E8;
}

/*CODIGO DEL MENU DESPLEGABLE*/
header
{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	padding:20px;
	
	background:#870406;
	z-index:2;
}
header #btnmenu
{
	font-size:40px;
	color:#ffffff;
	cursor:pointer;
}
.navegacion
{
	position:absolute;
	top:100%;
	left:0;
	width:0%;
	height:100vh;
	background:rgba(0,0,0,0.3);

}

.navegacion ul
{
	width:320px;
	height:100%;
	background:#fff;
	list-style:none;
	position:absolute;
	top:0;
	left:-320px;
	transition:left 2s; /*es para el tiempo de transicion de movimiento del menu completo*/
}

.navegacion .menu li.titulomenu
{
	padding:20px;
	background:#5f6f81;
	color:#fff;
	text-align:center;
	font-size:22px;
}

.navegacion .menu a
{
	display:block;
	padding:20px;
	border-bottom:1px solid #c6d0da;
	font-size:22px;
	font-weight:200px;
	text-decoration:none; /*es para quitar la linea del enlace o link*/
	color:#575d69;
}
.navegacion .menu a:hover 
{
	background:#798da3;
	color:#FFF;
}
.navegacion .menu  li span.icon-menu
{
	margin:12px;
}
.navegacion .menu .itemsubmenu > a::after
{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content:'\f105';
	float:right;
}


/*submenu*/
.navegacion .submenu  li.titulomenu
{
	background:#FFF;
	color:#075d69;
	
}

.navegacion .submenu  li.regresar
{
	padding:10px 20px;
	background:#5f6f81;
	color:#FFF;
	font-size:18px;
	cursor:pointer;
}

.navegacion .submenu  li.regresar::before
{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content:'\f0d9';
  margin:10px;
}


/*FIN DEL CODIGO DEL MENU DESPLEGABLE*/
/*INICIO DEL CODIGO DEL CARRUSEL */


/*
img
{
	max-width:100%; /*este es para quitar la barra de desplazamiento de abajo de la pagina web, ES EN LUGAR DE .slider li
*/



.slydershow
{
	width:100%;
	position:relative;
	top:100px;
	z-index:1;
}

.slider li, ul
{
	width:100%;
}

.slider li img/*aqui es para ajustar la imagen al tamaño de la pantalla, y ajustar el texto de acuerdo al porcentaje de ajuste en el ZOOM*/
{
	width:100%;
}

.slider .caption /*esto que comienza con punto, es una caja*/
{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:flex;/*es para poner el texto encima de la imagen*/
	flex-direction:column;
	justify-content:center;/*centra de forma horizontal*/
	align-items:center;/*centra de forma vertical*/
	text-align:center; /*es para centrar el texto en general*/
	z-index:1;/*es para DARLE LA POSICION y colocar  arriba de la imagen, en gerarquia UNO*/
	
	color:#FFF;
}

.slider  .caption h2
{
	font-size:50px;
}

.slider  .caption p
{
	margin-top:0;
	font-size:20px;
}

.paginacion
{
	position:absolute;
}

.izquierda, .derecha /*es para las flechas sobre la imagen de deslizamiento*/
{
	position:absolute;
	top:0;
	height:100%;
	display:flex;
	color:#fff;
	align-items:center;
	font-size:35px;
	z-index:2; /*es para DARLE LA POSICION y colocar  arriba de la imagen, en gerarquia DOS, ENCIMA DEL TEXTO*/
	cursor:pointer;
}

.izquierda
{
	left:10px;
}

.derecha
{
	right:10px;
}

.paginacion
{
	top:102%;/*para separar los puntitos de abajo de la imagen*/
	width:100%;
	display:flex;
	justify-content:center;	
}

.paginacion li /*para darle tamaño y color a los puntos de abajo de la imagen, para movilizar cada imagen*/
{
	font-size:20px;
	margin:2px 5px;
	color:#858585;
	cursor:pointer;/*para poner la MANITA en el cursor*/
}

@media screed and(max-width:600px){
	slider .caption p{
		display:none;
	}
	
	.slider .caption h2{
		font-size:30px;
	}
	
	.izquierda, .derecha{
		font-size:20px;
	}
	
	.slider li img{
		width:600px;
	}
	
	.paginacion{
		display::none;
	}
}

/*INICIO DEL CODIGO DEL CONTENIDO*/

.contenedoracercade, .contenedorport, .tarjetas-cliente, .contenedor-servicio
{
	padding:60px 0;
	width:90%;
	max-width:1000px;/*es el ancho de la pantalla*/
	margin:auto;
	overflow:hidden; /*es para ajustar la imagen de la pantalla*/
}


.titulo
{
	color:#C00;
	font-size:30px;
	text-align:center;
	margin-top:80px;
	margin-bottom:5px;
}

.contenedoracercade
{
	display:flex;/*es dar la instruccion para centrar un texto o linea de codigo, alineando en frente, uno del otro*/
	justify-content:space-evenly;
	margin-top:100px;
	margin-left:20px;
	margin-right:20px;
}

.imagenconf
{
	width:48%;/*es para hacer la imagen seleccionada mas chica*/
}

.imagenconfdom
{
	width:300px;
	height:300px;
}

.contenidotexto   .contenedoracercade
{
	width:48%;/*es para hacer la imagen seleccionada mas chica*/
}

.contenidotexto h3 /*es para trabajar con el titulo del texto, y dar espacio en salto de linea abajo del titulo*/
{
	margin-bottom:15px;/*es para darle margen al texto, en la parte inferior*/
}

.explica /*span /*es exclusivamente para numeros o letras, antes de un texto*/
{
	background:#000;/*es para darle un color de fondo a los numeros, de la imagen seleccionada antes del texto*/
	color:#FFF;/*para darle y cambiar el color a los numeros, de la imagen seleccionada antes del texto*/
	width:30px;
	height:30px;
	border-radius:50%;/*para hacer la imagen en circulo*/
	padding:2px;
	box-shadow:0 0 6px 0 rgba(0,0,0,0.5);/*rgba indica la transparencia en pantallas de computadora, es para sombrear un fondo en circulo, antes de un numero o letra*/
	margin-right:5%;
}

.contenidotexto p/*es para trabajar con el parrafo y para dar espacio en el salto de linea*/
{
	padding:0px 0px 30px;/*es para dar espacio entre cada linea*/
	font-weight:300;/*es para dar como tipo negritas a las letras, o el ancho de cada letra*/
	text-align:justify;/*es para ajustar el texto, de los laterales*/
}




/*GALERIA DE IMAGEN*/

.portafolio
{
	background:#CCC;/*para colocar color de fondo a la pantalla, detras de las imagenes solo de portafolio*/
}

.galeria-port
{
	display:flex;/*es dar la instruccion para centrar un texto o linea de codigo, alineando en frente, uno del otro*/
	justify-content:space-evently;
	flex-wrap: wrap;
}

.imagen-port
{
	width:24%;/*ancho*/
	margin-bottom:10px;/*aqui las imagenes se enciman por defecto, y con el codigo de abajo se corrigen y alinean*/
	height:200px;
	overflow:hidden;
	position:relative;
	cursor:pointer; /*este es para que aparezca la manita, cuando esta encima de la imagen*/
	box-shadow:0 0 6px 0 rgba(0,0,0,0.5);
}

.imagen-port> img/*las propiedades se aplican directo a la etiqueta img*/
{
	width:100%;
	height:100%;
	object-fit:cover;/*este comando se utiliza para indicar que una imagen o  video,  o un iframe debe de ser redimensionado para ajustarse a su contenedor o caja/*el IFRAME es para colocar fijo el encabezado o los menus o enlaces laterales*/
	display:block;/*block es para agrupar las imagenes*/
}

.encimagaleria
{
	position:absolute;/*aqui es para los iconos de circulito*/
	width:100%;
	height:100%;
	top:0;
	background:hsla(273, 93%, 27%,0.7);/*para transparencia y sombra alrededor de la imagen, ulilizar el formato HSLA*/
	transition:transform 0.5s;/*este es para darle ANIMACION a los iconos, la S es el tiempo, o sea segundos*/
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.encimagaleria img
{
	width::50%;
}

.encimagaleria p
{
	color:#fff;	
}

.imagen-port:hover .encimagaleria /*para dar movimiento al poner el puntero sobre la imagen y el icono morado, y desaparezca la imagen*/
{
	transform:scale(0);
}



/*clientes*/

.tarjetas-cliente
{
	display:flex;
	justify-content:space-evently;
}

.tarjetas-cliente  .tarjetac /*las imagenes aqui se colocan una encima de la otra, todas las imagenes*/
{
	background:#333;/*es color morado*/
	display:flex;
	width:46%;
	height:200px;
	align-items:center;
	justify-content:space-evently;/*con esto se acomodan todas las imagenes*/
	border-radius:5%;
	box-shadow:0 0 6px 0 rgba(0,0,0,0.6);
	margin:10px;
}

.tarjetas-cliente  .tarjetac img
{
	width:100px;
	height:100px;
	object-fit:cover;
	border:3px solid #fff;
	border-radius:50%;
	display:block;
}

.tarjetas-cliente  .tarjetac >  .contenido-texto-tarjeta
{
	width:60%;
	color:#fff;
}

.tarjetas-cliente  .tarjetac >  .contenido-texto-tarjeta
{
	font-weight:300;
	padding-top:5px;
	margin:4px;
}

	
/*BLOQUE DE SERVICIOS*/	

.servicios
{
	background:#FFF;
	padding-bottom:30px;
	margin-top:80px;
	margin-left:10px;
	margin-right:10px;
}

.servicio-cont
{
	display:flex;/*encima todas las imagenes de la pagina*/
	justify-content:space-between; /*es para hacer espacio entre las imagenes*/
	align-items:center; /*es para centrar todas  las etiquetas e  imagenes*/	
}

.servicio-individual
{
	width:26%;/*este es para el tamaño de la imagen*/
	text-align:center;
}

.servicio-individual img
{
	width:90%;/*aqui es para el ancho o tamaño de las imagenes*/
}

.servicio-individual h3
{
	margin:10px 0;	
}

.servicio-individual p
{
	font-weight:300;/*este es para el grosor de la letra*/
	text-align:justify;
}



/*PIE DE PAGINA*/

footer/*se copia de HTML*/
{
	background:#414141;
	padding:60px 0 30px 0;
	margin:auto;/*esto es un margen automatico*/
	overflow:hidden;/*este ajusta la imagen al tamaño de la pantalla, si vas haciendo mas chica la pantalla */
}

.contenedorpie
{
	display:flex;
	width:90%;
	justify-content:space-evenly;
	margin:auto;
	padding-bottom:50px;
	border-bottom:1px solid #ccc;
}

.contenido-pie
{
	text-align:center;
}

.contenido-pie h4
{
	color:#fff;
	border-bottom:3px solid #606;
	padding-bottom:5px;
	margin-bottom:10px;
}

.contenido-pie p
{
	color:#ccc;
}

.titulofinal
{
	text-align:center;
	font-size:24px;
	margin:20px 0 0 0;
	color:#9e9797;
}


/*FIN DEL CODIGO DEL CONTENIDO*/


